[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pigpio = "*"
requests = "*"
"beautifulsoup4" = "*"
python-dotenv = "*"
gitpython = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
websocket-client = "*"
paho-mqtt = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
