beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
dj-config-url==0.1.1
idna==2.7
pigpio==1.40.post1
Pillow==5.3.0
PyAutoGUI==0.9.38
PyMsgBox==1.0.6
pyobjc==4.2.2
pyobjc-framework-AppleScriptKit==4.2.2
pyobjc-framework-AppleScriptObjC==4.2.2
pyobjc-framework-ApplicationServices==4.2.2
pyobjc-framework-Automator==4.2.2
pyobjc-framework-CalendarStore==4.2.2
pyobjc-framework-Collaboration==4.2.2
pyobjc-framework-CoreServices==4.2.2
pyobjc-framework-DictionaryServices==4.2.2
pyobjc-framework-DiskArbitration==4.2.2
pyobjc-framework-ExceptionHandling==4.2.2
pyobjc-framework-InstallerPlugins==4.2.2
pyobjc-framework-InstantMessage==4.2.2
pyobjc-framework-IOSurface==4.2.2
pyobjc-framework-iTunesLibrary==4.2.2
pyobjc-framework-LatentSemanticMapping==4.2.2
pyobjc-framework-LaunchServices==4.2.2
pyobjc-framework-NetFS==4.2.2
pyobjc-framework-OpenDirectory==4.2.2
pyobjc-framework-PreferencePanes==4.2.2
pyobjc-framework-PubSub==4.2.2
pyobjc-framework-SearchKit==4.2.2
pyobjc-framework-SecurityFoundation==4.2.2
pyobjc-framework-ServiceManagement==4.2.2
PyScreeze==0.1.18
PyTweening==1.0.3
requests==2.20.1
urllib3==1.24.1
